@import url('https://fonts.googleapis.com/css?family=Lora');
// vars
$spacer : 24px;
$highlight : #1F5CE6;

// defaults
body {
    background: #E0DFE6;
    color: #444444;
    font-family: 'Lora', serif;
    font-size: 1.125em;   
}
h1, h2, h3 {
    margin-bottom: $spacer * 1.5;
}
h4 {
    margin-top: $spacer * 2;
    margin-bottom: $spacer/2;
    font-weight: bolder;
    text-transform: uppercase;
}
p {
    line-height: 1.625em;
}
footer {
    //display: block;
    margin-top: $spacer * 4;
    small {
        font-weight: bolder;
        display: block;
        margin-top: $spacer/2;
        a {
            text-decoration: none;
            margin-right: $spacer/2;
        }
    }
}
a {
    color: darken($highlight, 15%);
}
hr {
    border: none;
    border-bottom: 1px solid #cdcdcd;
    margin: $spacer 0;
}
section {
    padding: $spacer * 2 0;
    overflow-x: hidden;
    > div {
        max-width: 680px;
        margin: 0 auto;
        padding: $spacer;
        display: block;
    }
    &:nth-child(1) {
        background: #ffffff;
    }
}

form {
    input {
        width: calc(100% - #{$spacer + 8px});
        max-width: 100%;
        display: block;
        padding: 12px;
        margin: 10px 0 22px;
        border: 4px solid $highlight;
    }
    input[type="submit"] {
        width: 100%;
        display: block;
        border: 0;
        color: #fff;
        background: $highlight;
        padding: 22px;
        text-transform: uppercase;
        transition: all 260ms ease-in-out;
        &:focus {
            border: none;
            outline: none;
            box-shadow: none;
        }
        &[disabled="disabled"] {
            background: #cdcdcd;
            color: #444;
            opacity: 0.25;
        }
    }
    input[type="range"] {
        -webkit-appearance: none;
        background: transparent;
        border: 0;
        width: calc(100% - #{$spacer});
        &:focus {
            outline: none;
        }
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: 4px solid #fff;
            height: 28px;
            width: 28px;
            margin-top: -12px;
            border-radius: 100%;
            background: $highlight;
            cursor: pointer;
            transition: all 260ms ease-in-out;
        }
        &::-webkit-slider-runnable-track {
            width: 100%;
            height: 4px;
            cursor: pointer;
            background: #cdcdcd;
            border-radius: 20px;
        }
        &:hover::-webkit-slider-thumb {
            background: darken($highlight, 10%);
        }
    }
    .msg {
        font-family: monospace;
        text-align: center;
        color: #777;
        
        input[type="submit"] {
            background: none;
            color: $highlight;
            padding: 0;
        }
    }
}

// rUhuman widget default
// YOU NEED THIS and match class name in JS app.config
.ui-form-no-robot {
    display: block;
    transition: all 260ms ease-in-out;
    &:before {
        content: "For humans only. Adjust slider.";
        font-weight: bold;
    }
    label {
        display: block;
        i {
            font-style: normal;
        }
        span:first-child {
            &:after {
                content: " + ";
            }
        }
        span:nth-child(2) {
            &:after {
                content: " = ";
            }
        }
    }
    &.confirmed {
        &:before {
            content: "Yes! You're a lovely human!";
        }
    }
}
// skin
.ui-form-no-robot {
    background: transparent;
    border: 1px dashed #999;
    padding: 18px $spacer/2;
    margin-top: 22px;
    text-align: center;
    label {
        margin: 11px 0 0;
    }
    input {
        width: calc(100% - #{$spacer});
        margin: 8px auto 0;
        text-align: center;
    }
    &.confirmed {
        background: lighten($highlight, 43%);
        
        ::-webkit-slider-thumb {
            border-color: lighten($highlight, 43%);
        }
        
    }
}